html {
    background-color: black;
}

.tab {
    background-color: black;
}

.container {
    margin-top: 20px;
    background-color: black;
    width: 500px;
    font-family: courier;
    color: #21CB7A;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 10px;
    width: 100%;
}

li {
    display: inline;
    float: left;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

a {
    display: block;
    padding: 8px;
    font-family: courier;
    color: #21CB7A;
    text-decoration: none;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #21CB7A;
}

li a:hover {
    background-color: gray;
}

li:last-child {
    border-right: 1px white;
}

.title {
    height: 10px;
}

.navbar {
    text-align: left;
}